<header class="headerBar">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <div class="">
          <img src="/images/Blockcept_Logo.png" width="150">
        </div>
      </a>


      <ul class="navbar-nav ml-auto">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="/images/bellIcon.png" width="35" height="35" id="notificationIcon" />
          </a>
          <div class="dropdown-menu dropdown-menu-right user-dd animated">
            <a class="dropdown-item" href="#"><i class="fa-solid fa-tasks font-16 m-r-5 m-l-5"></i>
              &nbsp;
              User Assigned you task 123</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="/images/profile-pic.png" width="35" height="35" id="userProfile-pic" class="rounded-circle" />

          </a>
          <div class="dropdown-menu dropdown-menu-right user-dd animated">
            <a class="dropdown-item" href="#"><i class="fa fa-user font-16 m-r-5 m-l-5"></i> &nbsp;
              Profile</a>
            <a class="dropdown-item" href="#"><i class="fa fa-key font-16 m-r-5 m-l-5"></i>&nbsp; Change
              Password</a>
            <a class="dropdown-item" href="#"><i class="fa fa-sign-out font-16 m-r-5 m-l-5"></i> Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>