<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="in">
                <li class="sidebar-item selected"> <a class="sidebar-link active" href="#" aria-expanded="false"><i
                            class="fa fa-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link" href="#" aria-expanded="false"><i
                            class="fa-regular fa-folder"></i><span class="hide-menu">Projects</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link" href="#" aria-expanded="false"><i
                            class="fa-brands fa-trello"></i><span class="hide-menu">Boards</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link" href="#" aria-expanded="false"><i
                            class="fa-solid fa-users"></i><span class="hide-menu">Manage Users</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link" href="#" aria-expanded="false"><i
                            class="fa fa-line-chart"></i><span class="hide-menu">Analytics & Reports</span></a></li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>